
body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

h2{
  color: #17b0e3;
}

/*collapse style*/
details > summary {

}

details > p {
  background-color: #eeeeee;
  padding: 4px;
  margin: 0;
  box-shadow: 1px 1px 2px #bbbbbb;
  transition: width 2s ease-out;
}

.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}